<h1>Abouts</h1>
<table class="table table-hover">
	<thead>
		<th>users_count</th>
		<th>topics_count</th>
		<th>comments_count</th>
	</thead>
	<tbody>
		<td> <%= @users_count %> </td>
		<td> <%= @topics_count %> </td>
		<td> <%= @comments_count %> </td>
		
	</tbody>
</table>